<section class="about-section">
    <div class="container">
        <h1 class="hero-title">Добре дошли в Салон за красота "Цветен блясък"</h1>
        <div class="about-layout">
            <div class="about-images">
                <img src="/images/salon1.png" alt="Салон1" class="img-top" />
                <img src="/images/salon2.png" alt="Салон2" class="img-bottom" />
            </div>
            <div class="about-content">
                <h2 class="about-title">Доверете се на естествената красота</h2>

                <p class="about-text">
                    Салон за красота "Цветен блясък" е вашето място за спокойствие и разкрасяване в София.
                    За вас сме отворили вратите си на 18-ти март 2020 и оттогава не спираме
                    да се развиваме и растем заедно с вас.
                </p>

                <p class="about-text">
                    Нашият екип от маникюристи, фризьори, козметици и масажисти 
                    дава всичко от себе си, за да надхвърли вашите очаквания.
                </p>

                <a asp-controller="Home" asp-action="ForUs" class="btn-gold">
                    Повече за нас
                </a>
            </div>

        </div>
    </div>
</section>

<section class="reviews-section">
    <div class="container">
        <h3 class="reviews-title">Какво казват нашите клиенти:</h3>

        <div class="reviews-grid">

            <div class="review-card">
                <p>„Страхотно обслужване и професионализъм! Препоръчвам с две ръце!“</p>
                <span>– Мария</span>
            </div>

            <div class="review-card">
                <p>„Много уютно място, винаги си тръгвам усмихната.“</p>
                <span>– Елена</span>
            </div>

            <div class="review-card">
                <p>„Най-добрият салон! Отношението е невероятно.“</p>
                <span>– Никол</span>
            </div>

        </div>
    </div>
</section>